body {
    font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

.banner {
    padding: 1rem;
    text-align: center;
    border: 1px solid #ddd;
    background-color: rgba(135, 207, 235, 0.543);
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 3fr 1fr;
}

h2 {
    color: navy;
    grid-column: 1/3;
}

article p {
    text-align: justify;
}

.callout {
    color: black;
    padding: 1rem;
    background-color: olive;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left;
}