:root {
    --primary-color: #2B1D07;
    --secondary-color: #B28B5B;
    --accent1-color: #FFEFD5;
    --accent2-color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-weight: 400;
    font-family: "Amarna", sans-serif;
}

.top {
    padding: 1rem;
    display: block;
    text-align: center;
    color: var(--accent2-color);
    background-color: var(--secondary-color);
}

.navigation {
    margin: 0 auto;
    background-color: var(--primary-color);
}

.navigation ul {
    list-style-type: none;
}

.navigation a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--accent1-color);
}

.navigation a:hover {
    border: 1px solid var(--accent2-color);
}




@media (min-width: 640px) {
    .navigation ul {
        display: flex;
    }

    .navigation ul li {
        flex: 1 0 auto;
    }
}




main {
    width: 70%;
    padding-bottom: 5rem;
    margin: 0 auto;
}

.card {
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr .5fr;
    color: var(--primary-color);
}

h1 {
    margin: 2rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    padding: 1rem;
    color: var(--accent1-color);
    text-align: center;
    border-radius: .5rem .5rem 0 0;
    background-color: var(--primary-color);
}

h3 {
    text-align: center;
    padding: .5rem;
    margin-left: 100px;
    max-width: 250px;
    border-bottom: 1px solid;
}

fieldset {
    border: solid var(--primary-color);
    border-radius: 1rem;
}

.profile img {
    float: right;
    border-radius: 2rem;
    margin: 1rem;
}

.profile p {
    padding: 2rem;
}

.country {
    margin: 1rem;
}

figure {
    float: left;
    margin: 0 1rem 1rem 1rem;
    text-align: center;
}

.resources nav {
    margin: 50% 10%;
}


footer {
    padding: 1rem;
    text-align: center;
    color: var(--accent1-color);
    background-color: var(--secondary-color);
}