/* GENERAL VIEW */
* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #4c74ae;
    /* --secondary-color: #aa9384; */
    --accent1-color: #f7b220;
    /* --accent2-color: ; */
    --primary-font-color: #fff;
    --secondary-font-color: #000;
    --font-family: "Cormorant Garamond", serif;
}

body {
    color: var(--primary-font-color);
}

header,
footer {
    padding: 2rem;
    font-size: larger;
    text-align: center;
    font-family: var(--font-family);
    background-color: var(--primary-color);
}

img {
    width: 100%;
    height: auto;
    margin-top: 5px;
}

.sun-cloud {
    width: 50px;
    height: auto;
}

h2 {
    padding: 1rem;
    margin-bottom: 10px;
    background-color: var(--accent1-color);
}

/* MOBILE VIEW */
section {
    font-size: larger;
    text-align: center;
    padding-bottom: 20px;
}

.place-data p,
.weather p {
    padding: 5px;
    /* font-size: larger; */
    color: var(--secondary-font-color);
}



/* LARGER VIEW */
@media (min-width: 768px) {
    body {
        width: 2200px;
        margin: 0 auto;
    }

    /* main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    } */

    section {
        width: 20rem;
        height: auto;
        position: absolute;
        background-color: var(--primary-font-color);
    }

    h2 {
        text-align: left;
        padding-left: 2rem;
        margin: 10px 40px 0 0;
        background-color: #f7b220;
    }

    .place-data {
        top: 15rem;
        left: 15rem;
    }

    .weather {
        right: 15rem;
        bottom: 10rem;
    }

    .weather h2::after {
        content: " ⛅";
    }

    .place-data p,
    .weather p {
        font-size: larger;
    }

    .sun-cloud {
        display: none;
    }
}