/* GENERAL VIEW */
* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #4c74ae;
    --accent1-color: #f7b220;
    --primary-font-color: #fff;
    --secondary-font-color: #000;
    --font-family: "Cormorant Garamond", serif;
}

body {
    color: var(--primary-font-color);
}

header,
footer {
    padding: 2rem;
    font-size: larger;
    text-align: center;
    font-family: var(--font-family);
    background-color: var(--primary-color);
}

img {
    width: 100%;
    height: auto;
    margin-top: 5px;
}

.sun-cloud {
    width: 50px;
    height: auto;
}

h2 {
    padding: 1rem;
    margin-bottom: 10px;
    background-color: var(--accent1-color);
}

/* MOBILE VIEW */
section {
    font-size: larger;
    text-align: center;
    padding-bottom: 20px;
    color: var(--secondary-font-color);
}

.place-data p,
.weather p {
    padding: 5px;
}


/* LARGER VIEW */
@media (min-width: 768px) {
    .hero {
        width: 90%;
        margin: 0 auto;
        position: relative;
    }

    .hero picture img {
        margin-top: 0;
        display: block;
    }

    section {
        width: 14rem;
        height: auto;
        position: absolute;
        background-color: var(--primary-font-color);
    }

    h2 {
        text-align: left;
        padding-left: 2rem;
        margin: 10px 40px 0 0;
        background-color: var(--accent1-color);
    }

    .place-data {
        left: 4%;
        top: 6%;
    }

    .weather {
        right: 4%;
        bottom: 6%;
    }

    .weather h2::after {
        content: " ⛅";
    }

    .place-data p,
    .weather p {
        font-size: large;
    }

    .sun-cloud {
        display: none;
    }
}

@media (min-width: 1200px) {
    section {
        width: 20rem;
        height: auto;
        position: absolute;
        background-color: var(--primary-font-color);
    }

    .place-data {
        left: 5%;
        top: 10%;
    }

    .weather {
        right: 5%;
        bottom: 10%;
    }

    .place-data p,
    .weather p {
        font-size: larger;
    }
}