* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #326398;
    --secondary-color: #fff;
    --accent-color: #f3d487;
    --font-family: "Cormorant Garamond", serif;
}

header,
footer {
    padding: 2rem;
    font-size: larger;
    text-align: center;
    color: var(--secondary-color);
    font-family: var(--font-family);
    background-color: var(--primary-color);
}

picture img {
    width: 100%;
    height: auto;
}

section {
    margin-bottom: 15px;
    text-align: center;
}

h2 {
    padding: 1.5rem;
    text-align: center;
    background-color: var(--accent-color);
}

section p {
    padding: 3px;
    font-size: large;
}

@media (min-width: 768px) {
    .hero {
        width: 90%;
        height: auto;
        margin: 0 auto;
        position: relative;
    }

    hero picture img {
        display: block;
    }

    section {
        width: 14rem;
        height: auto;
        padding-bottom: 1rem;
        position: absolute;
    }

    section p {
        text-align: left;
        margin: 0 1.5rem;
    }

    h2 {
        margin-bottom: 1rem;
        text-align: left;
    }

    .data {
        left: 4%;
        top: 6%;
    }

    .weather {
        right: 4%;
        bottom: 6%;
    }

    .icon {
        display: none;
    }

    .weather h2::after {
        content: "⛅";
    }

    .data,
    .weather {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

@media (min-width: 1100px) {
    section {
        width: 25rem;
        height: auto;
    }

    .hero {
        width: 80%;
        height: auto;
    }
}