/* GENERAL */
:root {
    --primary-color: #74abdf;
    --secondary-color: #fff;
    --accent1-color: #efb944;
    --accent2-color: #f0cd99;
    --accent3-color: #000;
    --primary-font: 'Cormorant Garamond', sans-serif;
    /* #4d0b06 another kind of red */
}

* {
    margin: 0;
    padding: 0;
    /* color: var(--secondary-color); */
    font-family: var(--primary-font);
}

header, footer {
    padding: 3rem;
    text-align: center;
    font-size: x-large;
    background-color: var(--primary-color);
}

main {
    margin-top: 1rem;
    font-size: larger;
    background-color: var(--secondary-color);
}

section {
    margin: 5px;
    border: 1px solid var(--accent3-color);
}

.icon {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
}

ul {
    margin-bottom: 1rem;
}

li {
    list-style: none;
    text-align: center;
}





/* SMALL VIEW */
img {
    width: 100%;
    height: auto;
    position: relative;
}

h2 {
    padding: 5px;
    color: #000;
    text-align: center;
}








/* LARGER VIEW */
@media (min-width: 1000px) {
    .hero {
        position: relative;
    }

    
    section {
        position: absolute;
        padding: 1rem;
        border: 1px solid var(--accent3-color);
        background-color: var(--secondary-color);
    }

    .data {
        bottom: 40rem;
        left: 25px;
    }

    .weather {
        bottom: 15rem;
        right: 25px;
    }

    h2 {
        padding: 5px 6rem;
        text-align: left;
        color: var(--secondary-color);
        background-color: var(--accent1-color);
   }
}