:root {
    --primary-color: #2B1D07;
    --secondary-color: #F5CEB3;
    --accent1-color: #FFEFD5;
    --accent2-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    color: var(--primary-color);
}

/* GENERAL VIEW */
body {
    font-size: larger;
    text-align: center;
    font-family: "Caveat Brush", sans-serif;
}

header {
    text-align: left;
    font-size: larger;
    padding-top: 1rem;
    background-color: var(--secondary-color);
}

main {
    max-width: 900px;
    margin: 0 auto;
}

footer {
    padding: 1rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

h1 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

/* MOBILE VIEW */
header span {
    text-align: left;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.menu {
    border: 0;
    right: .5rem;
    background: none;
    font-size: 1.5rem;
    position: absolute;
}

.menu::before {
    content: "☰";
}

.menu.open::before {
    content: "❌";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1rem;
    list-style: none;
    background-color: var(--primary-color);
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--accent2-color);
}

.navigation a:hover {
    font-weight: 700;
    border: 1px solid var(--accent2-color);
    background-color: rosybrown;
}

.open a {
    display: block;
}