/* LARGER VIEW */
@media (min-width: 600px) {
    header {
        padding: 0;
        display: flex;
        text-align: left;
        justify-content: space-between;
        background-color: var(--secondary-color);
    }

    header span {
        font-size: 2rem;
        margin: 1.5rem 3rem;
    }

    .menu {
        display: none;
    }

    .navigation {
        gap: 4rem;
        margin: 1rem 0;
        list-style: none;
        flex-direction: row;
        background-color: var(--secondary-color);
    }

    .navigation a {
        display: block;
        padding: 1rem 2rem;
        text-decoration: none;
        color: var(--primary-color);
    }

    h1 {
        font-size: 3rem;
    }

    .temples {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .temples img {
        width: 100%;
        height: auto;
    }
}