/* LARGER VIEW */
@media (min-width: 600px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header span {
        font-size: 2rem;
        margin: 1.5rem 3rem;
    }

    #menubtn {
        display: none;
    }

    .navmenu {
        flex-direction: row;
        justify-content: flex-end;
    }

    .navmenu a {
        flex: 1 1 100%;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}