/* MOBILE VIEW */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2B1D07;
    --secondary-color: #F5CEB3;
    --accent1-color: #FFEFD5;
    --accent2-color: #fff;
    --primary-font-family: "Playfair Display", sans-serif;
    --secondary-font-family: "Inter", sans-serif;
}

header {
    background-color: var(--secondary-color);
}

header span {
    margin: 0 2rem;
    font-size: 2rem;
    font-family: var(--primary-font-family);
}

#menubtn {
    border: 0;
    right: .5rem;
    background: none;
    font-size: 1.5rem;
    position: absolute;
}

#menubtn::before {
    content: "☰";
}

#menubtn.open::before {
    content: "❌";
}

.navmenu {
    /* display: flex;
    list-style: none;
    flex-direction: column; */
    display: flex;
    margin-top: 1rem;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--primary-color);
}

.navmenu a {
    /* display: block;
    font-size: large;
    text-align: center;
    padding: 1.5rem 5rem;
    text-decoration: none;
    color: var(--accent2-color);
    background-color: var(--primary-color); */
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--accent2-color);
}

.navmenu a:hover {
    /* font-weight: 700;
    border: 1px solid var(--accent2-color);
    color: var(); */
    font-weight: 700;
    border: 1px solid var(--accent2-color);
    background-color: rosybrown;
}

.open a {
    display: block;
}

main {
    display: grid;
    margin: 0 auto;
    max-width: 900px;
}

h1 {
    margin: 2rem;
    text-align: center;
    font-family: var(--primary-font-familys);
}

.container {
    display: grid;
    grid-gap: 25px;
    place-items: center;
}

figcaption {
    padding: .5rem;
    text-align: center;
    font-size: large;
}

footer {
    padding: 2rem;
    margin-top: 3rem;
    text-align: center;
    background-color: var(--secondary-color);
    font-family: var(--secondary-font-family);
}