body {
    font-family: 'Roboto', sans-serif;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: rgba(70, 131, 180, 0.301);
}

main {
    display: grid;
    grid-column: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
}